<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolorum enim eum excepturi iste laudantium minima mollitia nemo, officiis optio perspiciatis velit. Ad aliquam aperiam autem consequatur culpa debitis deserunt ea eaque earum expedita explicabo fugiat harum illo ipsa ipsam laboriosam nobis nulla quisquam quos sit tempora, totam ullam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolorum enim eum excepturi iste laudantium minima mollitia nemo, officiis optio perspiciatis velit. Ad aliquam aperiam autem consequatur culpa debitis deserunt ea eaque earum expedita explicabo fugiat harum illo ipsa ipsam laboriosam nobis nulla quisquam quos sit tempora, totam ullam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolorum enim eum excepturi iste laudantium minima mollitia nemo, officiis optio perspiciatis velit. Ad aliquam aperiam autem consequatur culpa debitis deserunt ea eaque earum expedita explicabo fugiat harum illo ipsa ipsam laboriosam nobis nulla quisquam quos sit tempora, totam ullam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolorum enim eum excepturi iste laudantium minima mollitia nemo, officiis optio perspiciatis velit. Ad aliquam aperiam autem consequatur culpa debitis deserunt ea eaque earum expedita explicabo fugiat harum illo ipsa ipsam laboriosam nobis nulla quisquam quos sit tempora, totam ullam?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A doloremque dolorum enim eum excepturi iste laudantium minima mollitia nemo, officiis optio perspiciatis velit. Ad aliquam aperiam autem consequatur culpa debitis deserunt ea eaque earum expedita explicabo fugiat harum illo ipsa ipsam laboriosam nobis nulla quisquam quos sit tempora, totam ullam?
  </div>
</div>
